html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* STYLE BODY */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(87, 199, 199);
}

.header-box {
  display: flex;
}

h1 {
  font-size: 20px;
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  margin: 0;
}
